body {
    
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.the-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.page-content {
    max-width: 1024px;
    min-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 46px;

    margin-top: 46px;

    background-color: #fcffe6;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

.page-title__icon {
    width: 46px;
    height: 46px;
    margin-right: 16px;
}

.page-title__icon-img {
    width: 46px;
    height: 46px;
}

.page-title__text {
    font-size: 30px;
    line-height: 38px;
    font-family: 'Wawati SC';
}

.main-page {
    margin-top: 46px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rec-page {
    /* background-color: blue; */
    background: -webkit-linear-gradient(right bottom,#f5222d,#1890ff);
    background: linear-gradient(right bottom,#f5222d,#1890ff);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 256px;
    min-height: 346px;
    border-radius: 24px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.rec-page:hover {
    transform: scale(1.1);
}

.rec-page__icon {
    width: 46px;
    height: 46px;
    margin-bottom: 24px;
}

.rec-page__icon-img {
    width: 46px;
    height: 46px;
}

.rec-page__text {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

.detail-content {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    min-width: 384px;
}

.cre-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 128px;
    height: 128px;
    border-radius: 128px;

    background-color: #ffffff;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border: 1px rgba(0, 0, 0, 0.1) solid;

/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.cre-page:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cre-page__icon {
    width: 28px;
    height: 28px;
    /* margin-right: 4px; */
    margin-bottom: 8px;

}

.cre-page__icon-img {
    width: 28px;
    height: 28px;
}

.cre-page__text {
    font-size: 16px;
    line-height: 24px;
}